<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Micro Social Net )(</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .content-blocker {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(136, 136, 204, 0.5);
            z-index: 4444;
        }
    </style>
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root" class="content-blocker">

</div>
<script defer src="/built/bundle.js"></script>

</body>
</html>